.appreach {
  position: relative;
  text-align: left;
  padding: 10px;
  border: none;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 1.5em;
  background: #fff;
}
.appreach:after {
  content: "";
  display: block;
  clear: both;
}
.appreach p {
  margin: 0;
}
.appreach a:after {
  display: none;
}
.appreach__icon {
  float: left;
  border-radius: 17.5% !important;
  overflow: hidden;
  margin: 0 3% 0 0 !important;
  width: 25% !important;
  height: auto !important;
  max-width: 120px !important;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}
.appreach__detail {
  display: inline-block;
  font-size: 20px;
  line-height: 1.5;
  width: 72%;
  max-width: 72%;
}
.appreach__detail:after {
  content: "";
  display: block;
  clear: both;
}
.appreach__name {
  font-size: 16px;
  line-height: 1.5em !important;
  max-height: 3em;
  overflow: hidden;
  font-weight: bold;
}
.appreach__info {
  font-size: 12px !important;
  color: #666;
  margin-top: 4px !important;
}
.appreach__developper, .appreach__price {
  margin-right: 0.5em;
}
.appreach__posted a {
  margin-left: 0.5em;
  color: #888;
  text-decoration: none;
}
.appreach__links {
  float: left;
  height: 40px;
  margin-top: 15px;
  white-space: nowrap;
}
.appreach__aslink img {
  margin-right: 10px;
  height: 40px;
  width: 135px;
}
.appreach__gplink img {
  height: 40px;
  width: 134.5px;
}

.appreach__star {
  position: relative;
  font-size: 14px !important;
  height: 1.5em;
  width: 5em;
  display: inline-block;
  vertical-align: text-bottom;
}
.appreach__star__base {
  position: absolute;
  top: 0;
  left: 0;
  color: #737373;
}
.appreach__star__evaluate {
  position: absolute;
  top: 0;
  left: 0;
  color: #ffc107;
  overflow: hidden;
  white-space: nowrap;
}

.appreach__date {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 10px;
  color: #888;
  line-height: 1;
}
